# Core PyTorch
torch>=2.3.0
torchvision>=0.18.0

# KAN dependencies
tqdm>=4.66.2
# efficient-kan from GitHub
#git+https://github.com/Blealtan/efficient-kan.git

# NeRF dependencies
numpy
matplotlib
imageio
scikit-image
lpips

#  opencv
opencv-python

imageio[ffmpeg]  


# 从 GitHub 安装 efficient-kan
#efficient-kan @ git+https://github.com/Blealtan/efficient-kan.git
